<aside class="sidebar" [ngClass]="{ open: isOpen, closed: !isOpen }">
  <div class="sidebar-header">
    <img [src]="companyLogo" alt="Logo" />
    <h1>{{ companyName }}</h1>
  </div>

  <nav class="sidebar-nav">
    <ng-container *ngFor="let item of sidebarItems">
      <!-- Item simple -->
      <a
        *ngIf="!item.children"
        routerLink="{{ item.route }}"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="close()"
        class="sidebar-link"
      >
        <i *ngIf="item.icon" class="{{ item.icon }}"></i>
        <span>{{ item.label }}</span>
      </a>

      <div *ngIf="item.children" class="sidebar-submenu">
        <div class="submenu-title" (click)="toggleSubmenu(item, submenuEl)">
          <div class="submenu-label">
            <i *ngIf="item.icon" class="{{ item.icon }}"></i>
            <span>{{ item.label }}</span>
          </div>
          <i class="pi pi-chevron-down" [class.rotate]="item.isOpen"></i>
        </div>

        <ul
          #submenuEl
          class="submenu-list"
          [style.opacity]="item.isOpen ? '1' : '0'"
        >
          <li *ngFor="let child of item.children">
            <a
              routerLink="{{ child.route }}"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="close()"
            >
              <i *ngIf="child.icon" class="{{ child.icon }}"></i>
              <span>{{ child.label }}</span>
            </a>
          </li>
        </ul>
      </div>
    </ng-container>
  </nav>
</aside>
