<form
  [formGroup]="signupForm"
  (ngSubmit)="onRegister()"
  class="space-y-6 w-full"
>
  <p-float-label>
    <label for="firstName">Nombres</label>
    <input
      id="firstName"
      type="text"
      pInputText
      formControlName="firstName"
      class="w-full"
    />
  </p-float-label>

  <p-float-label>
    <label for="lastName">Apellidos</label>
    <input
      id="lastName"
      type="text"
      pInputText
      formControlName="lastName"
      class="w-full"
    />
  </p-float-label>

  <p-float-label>
    <label for="username">Nombre de usuario</label>
    <input
      id="username"
      type="text"
      pInputText
      formControlName="username"
      class="w-full"
    />
  </p-float-label>

  <p-float-label>
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      pInputText
      formControlName="email"
      class="w-full"
    />
  </p-float-label>

  <p-float-label>
    <label for="password">Password</label>
    <p-password
      formControlName="password"
      placeholder="Password"
      toggleMask="true"
      inputStyleClass="w-full"
      styleClass="w-full"
    ></p-password>
  </p-float-label>

  <p-float-label>
    <label for="confirmPassword">Confrmar Contraseña</label>
    <p-password
      formControlName="confirmPassword"
      placeholder="confirmPassword"
      toggleMask="true"
      inputStyleClass="w-full"
      styleClass="w-full"
    ></p-password>
  </p-float-label>

  <p-button
    type="submit"
    label="Registrarse"
    severity="secondary"
    styleClass="w-full mt-8"
    [loading]="loading"
    [disabled]="loading || signupForm.invalid"
  />

  <div class="flex items-center my-4">
    <hr class="flex-grow border-gray-600" />
    <span class="px-2 text-gray-400 text-sm">o</span>
    <hr class="flex-grow border-gray-600" />
  </div>

  <p-button
    type="button"
    (click)="onGoogleSignup()"
    label="Registrarse con Google"
    class="w-full"
    severity="secondary"
    styleClass="w-full flex items-center justify-center gap-2 mt-2"
  >
    <img src="google_icon.webp" alt="Google" class="w-5 h-5" />
  </p-button>
</form>
