<div class="bg-gray-100 font-[tipo2]">
  <header class="text-white shadow-lg sticky top-0 z-50">
    <div
      class="bg-azul-claro px-4 py-2 text-sm flex justify-between items-center"
    >
      <div class="flex items-center space-x-2">
        <p-button
          icon="pi pi-map-marker"
          [raised]="true"
          severity="secondary"
          label="¿Dónde quieres pedir?"
        ></p-button>
        <span class="font-medium"></span>
      </div>
      <div class="flex items-center space-x-2 relative">
        <span class="font-semibold leading-relaxed inline-flex">
          S/ {{ total$ | async | number : "1.2-2" }}
        </span>

        <div class="relative">
          <p-button
            icon="pi pi-shopping-bag"
            severity="contrast"
            [text]="true"
            [rounded]="true"
            (click)="openCart()"
          ></p-button>

          <span
            *ngIf="count$ | async as count"
            class="absolute -top-1 -right-1 bg-red-500 text-white text-xs font-bold w-5 h-5 rounded-full flex items-center justify-center"
          >
            {{ count }}
          </span>
        </div>
      </div>
    </div>

    <nav class="px-4 py-3 bg-fondo-oscuro">
      <div
        class="container justify-center mx-auto flex space-x-4 overflow-x-auto scrollbar-thin scrollbar-thumb-gray-600 scrollbar-track-gray-900 py-2 text-center"
      >
        <p-button
          *ngFor="let cat of categories"
          label="{{ cat.name }}"
          (click)="filterByCategory(cat.id)"
          [outlined]="selectedCategoryId !== cat.id ? true : false"
          [rounded]="true"
          severity="warn"
          styleClass="!px-4 !pt-1 !pb-0 "
        ></p-button>
      </div>
    </nav>
  </header>

  <div class="relative h-96 bg-cover bg-center rounded-b-xl overflow-hidden">
    <img
      src="banner4.jpg"
      alt="Hero"
      class="w-full h-full object-cover opacity-80"
    />
    <div
      class="absolute inset-0 bg-gradient-to-b from-black/60 to-black/30 flex items-center justify-center"
    >
      <h1
        class="hero-title text-4xl md:text-5xl font-extrabold text-white drop-shadow-lg scale-100 md:scale-105 transition-transform duration-500"
      >
        Nuestros Platos
      </h1>
    </div>
  </div>

  <section class="py-12 bg-gray-900">
    <div class="container mx-auto px-4">
      <h2 class="text-4xl font-bold text-center mb-12 text-white">
        Los Platos
      </h2>

      <div
        class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl mx-auto"
      >
        <div
          *ngFor="let item of products"
          class="power-card bg-gray-800 rounded-3xl shadow-2xl overflow-hidden flex flex-col group hover:scale-105 transform transition duration-300"
        >
          <!-- Imagen del producto -->
          <div class="relative h-64 w-full overflow-hidden rounded-t-3xl">
            <img
              [src]="item.imageUrl"
              [alt]="item.name"
              class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
            />
            <span
              class="absolute top-3 left-3 bg-red-500 text-white px-3 py-1 rounded-full text-xs font-semibold shadow-lg z-10"
              >Nuevo</span
            >
          </div>

          <p-button
            class="absolute top-3 right-3"
            [rounded]="true"
            [text]="true"
            severity="warn"
            icon="pi pi-plus"
            (onClick)="addToCart(item)"
          ></p-button>
        </div>

        <div
          *ngIf="filteredProducts.length === 0"
          class="col-span-full text-center text-gray-400 text-lg py-10"
        >
          No hay productos disponibles en esta categoría 🙁
        </div>
      </div>

      <!-- 🔥 Paginador -->
      <div class="flex justify-center mt-8">
        <p-paginator
          [rows]="rows"
          [totalRecords]="filteredProducts.length"
          [first]="first"
          (onPageChange)="onPageChange($event)"
          [rowsPerPageOptions]="[6, 9, 12]"
        ></p-paginator>
      </div>
    </div>
  </section>
</div>
