<header
  class="h-16 bg-white border-b border-gray-200 flex items-center justify-between px-6 sticky top-0 z-10 shadow-sm"
>
  <h2 class="text-lg font-semibold text-gray-700">Panel de Administración</h2>

  <div class="flex items-center space-x-4">
    <p-button
      icon="pi pi-bell"
      [rounded]="true"
      [text]="true"
      severity="secondary"
    />
    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
      class="mr-2"
      size="normal"
      shape="circle"
      (click)="menu.toggle($event)"
      styleClass="cursor-pointer"
    />

    <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
  </div>
</header>
