<div
  class="relative min-h-screen bg-gradient-to-br from-stone-900 to-zinc-800 flex items-center justify-center p-6 overflow-hidden"
>
  <img
    src="ingredientes_en_mesa.jpg"
    class="absolute inset-0 w-full h-full object-cover opacity-30 blur-sm"
  />

  <div
    class="relative z-10 w-full max-w-7xl grid grid-cols-1 md:grid-cols-2 gap-10"
  >
    <div
      class="flex flex-col justify-center gap-8 p-8 bg-white/10 backdrop-blur-xl rounded-3xl shadow-2xl hover:shadow-3xl transition-all duration-500"
    >
      <h2
        class="text-3xl font-extrabold text-white mb-4 text-center md:text-left"
      >
        Información de Contacto
      </h2>

      <div class="flex items-center gap-4">
        <div
          class="bg-blue-500 rounded-full px-4 py-2 flex items-center justify-center shadow-lg"
        >
          <i class="pi pi-map-marker text-white text-2xl"></i>
        </div>
        <div>
          <h3 class="font-semibold text-white">Dirección</h3>
          <p class="text-gray-200">Av San Martin 1149, Ica, Peru</p>
        </div>
      </div>

      <div class="flex items-center gap-4">
        <div
          class="bg-green-500 rounded-full px-4 py-2 flex items-center justify-center shadow-lg"
        >
          <i class="pi pi-phone text-white text-2xl"></i>
        </div>
        <div>
          <h3 class="font-semibold text-white">Teléfono</h3>
          <p class="text-gray-200">+51 930 532 846</p>
        </div>
      </div>

      <div class="flex items-center gap-4">
        <div
          class="bg-red-500 rounded-full px-4 py-2 flex items-center justify-center shadow-lg"
        >
          <i class="pi pi-envelope text-white text-2xl"></i>
        </div>
        <div>
          <h3 class="font-semibold text-white">Email</h3>
          <p class="text-gray-200">contacto&#64;gmail.com</p>
        </div>
      </div>

      <div class="flex items-center gap-4">
        <div
          class="bg-yellow-500 rounded-full px-4 py-2 flex items-center justify-center shadow-lg"
        >
          <i class="pi pi-globe text-white text-2xl"></i>
        </div>
        <div>
          <h3 class="font-semibold text-white">Web</h3>
          <a
            href="https://www.restaurantesanisidro.com"
            target="_blank"
            class="text-yellow-200 hover:text-yellow-400 underline"
            >www.restaurantesanisidro.com</a
          >
        </div>
      </div>

      <div class="flex items-center gap-4">
        <div
          class="bg-purple-500 rounded-full px-4 py-2 flex items-center justify-center shadow-lg"
        >
          <i class="pi pi-users text-white text-2xl"></i>
        </div>
        <div>
          <h3 class="font-semibold text-white">Redes</h3>
          <div class="flex gap-4 mt-1">
            <a
              pButton
              icon="pi pi-facebook"
              [rounded]="true"
              [text]="true"
              target="_blank"
              severity="info"
              href="https://www.facebook.com/RestauranteSanIsidroIca/?locale=es_LA"
            ></a>
            <a
              pButton
              icon="pi pi-whatsapp"
              [rounded]="true"
              [text]="true"
              target="_blank"
              href="https://wa.me/51930532846"
            ></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Formulario de contacto -->
    <div
      class="p-10 bg-white/10 backdrop-blur-xl rounded-3xl shadow-2xl hover:shadow-3xl transition-all duration-500"
    >
      <h2
        class="text-3xl font-extrabold text-white mb-6 text-center md:text-left"
      >
        Envíanos un Mensaje
      </h2>

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="space-y-8">
        <div *ngIf="!isAuthenticated" class="space-y-8">
          <p-floatlabel class="w-full">
            <input pInputText formControlName="name" class="w-full" />
            <label>Nombre</label>
          </p-floatlabel>

          <p-floatlabel class="w-full">
            <input
              pInputText
              type="email"
              formControlName="email"
              class="w-full"
            />
            <label>Email</label>
          </p-floatlabel>
        </div>

        <p-floatlabel class="w-full">
          <input pInputText formControlName="subject" class="w-full" />
          <label>Asunto</label>
        </p-floatlabel>

        <p-floatlabel class="w-full">
          <textarea
            pTextarea
            formControlName="message"
            rows="5"
            class="w-full"
          ></textarea>
          <label>Mensaje</label>
        </p-floatlabel>

        <button
          pButton
          type="submit"
          [disabled]="!canSubmit"
          label="Enviar Mensaje"
          class="w-full"
        ></button>
      </form>
    </div>
  </div>
</div>
