:host {
  display: block;

  ::ng-deep .p-chart {
    height: 100% !important;
    width: 100% !important;

    > div {
      height: 100% !important;
      width: 100% !important;
    }

    canvas {
      height: 100% !important;
      width: 100% !important;
    }
  }
}