<div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-7xl mx-auto mt-40">
  <!-- Columna izquierda (Stepper Content) -->
  <div class="md:col-span-2 bg-white p-6 rounded-2xl shadow-lg space-y-6">
    <h2 class="text-2xl font-bold text-gray-800 text-center">
      Opciones de Compra
    </h2>

    <p-stepper [value]="1" styleClass="w-full">
      <p-step-list>
        <p-step [value]="1" icon="pi pi-truck">Tipo de Entrega</p-step>
        <p-step [value]="2" icon="pi pi-map-marker">Dirección de Envío</p-step>
        <p-step [value]="3" icon="pi pi-credit-card">Método de Pago</p-step>
      </p-step-list>

      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col space-y-4">
              <label
                *ngFor="let type of orderTypes"
                class="flex items-center gap-3 p-3 border rounded-lg hover:bg-gray-50 cursor-pointer transition"
              >
                <p-radiobutton
                  name="orderType"
                  [value]="type"
                  [(ngModel)]="selectedOrderType"
                ></p-radiobutton>

                <i
                  class="{{ getOrderTypeIcon(type.code).icon }} {{
                    getOrderTypeIcon(type.code).color
                  }} text-lg"
                ></i>

                <span class="text-gray-800">{{ type.name }}</span>
              </label>
            </div>
            <div class="flex justify-end mt-6">
              <p-button
                label="Siguiente"
                size="small"
                icon="pi pi-arrow-right"
                (click)="activateCallback(2)"
              ></p-button>
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="space-y-6">
              <div *ngIf="isDelivery()" class="space-y-6">
                <div *ngIf="addresses.length > 0" class="space-y-2">
                  <div
                    *ngFor="let addr of addresses"
                    class="flex items-center justify-between border p-3 rounded-lg"
                  >
                    <label class="flex items-center gap-3 cursor-pointer">
                      <p-radiobutton
                        name="savedAddress"
                        [value]="addr.id"
                        [(ngModel)]="selectedAddressId"
                      ></p-radiobutton>
                      <div>
                        <div class="font-medium">
                          {{ addr.street }}, {{ addr.city }}
                        </div>
                        <div class="text-sm text-gray-500">
                          {{ addr.province }} - {{ addr.reference }}
                        </div>
                      </div>
                    </label>

                    <button
                      pButton
                      type="button"
                      icon="pi pi-trash"
                      class="p-button-rounded p-button-text p-button-danger"
                      (click)="deleteAddress(addr.id)"
                    ></button>
                  </div>

                  <div class="mt-4">
                    <p-button
                      label="Agregar nueva dirección"
                      icon="pi pi-plus"
                      (click)="addNewAddress()"
                      *ngIf="!showAddressForm"
                    ></p-button>
                  </div>
                </div>

                <app-address-form
                  *ngIf="addresses.length === 0 || showAddressForm"
                  (save)="saveAddress($event)"
                  (cancel)="showAddressForm = false"
                >
                </app-address-form>
              </div>

              <div *ngIf="isTakeAway()" class="space-y-4">
                <p-autoComplete
                  [(ngModel)]="storeSelected"
                  [suggestions]="filteredStores"
                  (completeMethod)="searchStores($event)"
                  optionLabel="name"
                  [dropdown]="true"
                  placeholder="Buscar tienda..."
                />
              </div>

              <!-- DINE IN -->
              <div *ngIf="isDineIn()" class="text-center text-gray-600">
                No se requiere dirección para pedidos en restaurante.
              </div>
            </div>

            <div class="flex pt-6 justify-between">
              <p-button
                label="Volver"
                severity="secondary"
                icon="pi pi-arrow-left"
                (onClick)="activateCallback(1)"
              />
              <p-button
                label="Siguiente"
                icon="pi pi-arrow-right"
                iconPos="right"
                [disabled]="isDelivery() && !selectedAddressId"
                (onClick)="activateCallback(3)"
              />
            </div>
            <div
              *ngIf="isDelivery() && !selectedAddressId"
              class="text-red-500 mt-2 text-sm flex items-end justify-end"
            >
              Debes seleccionar una dirección para continuar con el pago.
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <!-- Opción tarjeta -->
              <label
                class="flex items-center gap-3 p-4 border rounded-xl cursor-pointer transition-all duration-200"
                [ngClass]="{
                  'border-blue-500 bg-blue-50 shadow-md':
                    paymentMethod === 'card',
                  'hover:border-blue-400': paymentMethod !== 'card'
                }"
              >
                <p-radiobutton
                  name="payment"
                  value="card"
                  [(ngModel)]="paymentMethod"
                  inputId="card"
                />
                <i class="pi pi-credit-card text-2xl text-blue-600"></i>
                <span class="font-medium text-gray-800">
                  Tarjeta de crédito/débito
                </span>
              </label>

              <!-- Opción efectivo -->
              <label
                class="flex items-center gap-3 p-4 border rounded-xl cursor-pointer transition-all duration-200"
                [ngClass]="{
                  'border-green-500 bg-green-50 shadow-md':
                    paymentMethod === 'cash',
                  'hover:border-green-400': paymentMethod !== 'cash'
                }"
              >
                <p-radiobutton
                  name="payment"
                  value="cash"
                  [(ngModel)]="paymentMethod"
                  inputId="cash"
                />
                <i class="pi pi-money-bill text-2xl text-green-600"></i>
                <span class="font-medium text-gray-800">
                  Pago en efectivo contra entrega
                </span>
              </label>
            </div>

            <div *ngIf="paymentMethod === 'card'" class="mt-6">
              <app-payment-brick
                [amount]="total"
                [publicKey]="mercadoPagoPublicKey"
                (token)="handleBrickToken($event)"
                (ready)="onPaymentBrickReady()"
                (brickError)="onPaymentBrickError($event)"
              ></app-payment-brick>
            </div>

            <!-- Botón volver -->
            <div class="flex pt-6 justify-start">
              <p-button
                label="Volver"
                severity="secondary"
                icon="pi pi-arrow-left"
                (onClick)="activateCallback(2)"
              />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </div>

  <!-- Columna derecha: Resumen -->
  <div class="bg-white p-6 rounded-2xl shadow-lg sticky top-6 h-fit space-y-4">
    <h2 class="text-2xl font-bold text-gray-800">Resumen del Pedido</h2>

    <div
      *ngFor="let item of items"
      class="flex justify-between py-2 border-b border-gray-200 text-gray-700"
    >
      <div>{{ item.name }} x{{ item.quantity }}</div>
      <div>S/{{ item.price * item.quantity | number : "1.2-2" }}</div>
    </div>

    <div class="flex justify-between text-gray-600">
      <span>Subtotal</span>
      <span>S/{{ total / 1.18 | number : "1.2-2" }}</span>
    </div>
    <div class="flex justify-between text-gray-600">
      <span>IGV (18%)</span>
      <span>S/{{ (total * 0.18) / 1.18 | number : "1.2-2" }}</span>
    </div>
    <div
      class="flex justify-between font-bold text-gray-900 text-lg border-t border-gray-300 pt-3"
    >
      <span>Total</span>
      <span>S/{{ total | number : "1.2-2" }}</span>
    </div>
  </div>
</div>
