<div
  [formGroup]="form"
  class="grid grid-cols-1 md:grid-cols-2 gap-8 border rounded-xl px-4 py-8 mt-4 bg-gray-50"
>
  <div class="col-span-2">
    <p-floatlabel >
      <input
        id="street"
        type="text"
        formControlName="street"
        pInputText
        class="w-full"
      />
      <label for="street">Calle y número</label>
    </p-floatlabel>
  </div>

  <div>
    <p-floatlabel >
      <input
        id="city"
        type="text"
        formControlName="city"
        pInputText
        class="w-full"
      />
      <label for="city">Ciudad</label>
    </p-floatlabel>
  </div>

  <div>
    <p-floatlabel>
      <input
        id="province"
        type="text"
        formControlName="province"
        pInputText
        class="w-full"
      />
      <label for="province">Provincia / Región</label>
    </p-floatlabel>
  </div>

  <div>
    <p-floatlabel>
      <input
        id="zipCode"
        type="text"
        formControlName="zipCode"
        pInputText
        class="w-full"
      />
      <label for="zipCode">Código postal</label>
    </p-floatlabel>
  </div>

  <div class="col-span-2">
    <p-floatlabel>
      <input
        id="reference"
        type="text"
        formControlName="reference"
        pInputText
        class="w-full"
      />
      <label for="reference"
        >Referencia (Ej: Casa con rejas negras, Apto 3B)</label
      >
    </p-floatlabel>
  </div>

  <div class="col-span-2">
    <p-floatlabel>
      <input
        id="instructions"
        type="text"
        formControlName="instructions"
        pInputText
        class="w-full"
      />
      <label for="instructions">Instrucciones de entrega (Opcional)</label>
    </p-floatlabel>
  </div>
</div>
